.header-layout {
  display: flex;
  flex-direction: row;
  padding: 10px 25px;
  justify-content: space-between;
}
.logo {
  label {
    width: 19.3px;
    height: 20.8px;
    margin: 1.6px 2.5px 5.1px 0;
    color: #1b75bb;
    font-weight: 500;
    font-size: 35px;
  }
}
.menu {
  display: inherit;
}
