.menu-list {
    padding: 0 10px;
    ul {
        list-style-type: none;
        li {
            display: inline;
            margin: 0 42px 4px 0;
            opacity: 0.7;
            font-family: sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
        }
    }
}
