// .product-layout {

// }
.product-head {
  padding: 14px;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #0e6cb6, #1765a2);
  .heading {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
}
.button-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
