.container {
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
        width: 400px;
        margin: 10px auto;
        h1 {
            font-size: 2.2rem;
            font-weight: normal;
            line-height: 1.14;
            letter-spacing: normal;
            text-align: left;
            color: #2e384d;
            margin-top: 8rem;
        }
        .content-item {
            padding: 50px 0;
        }
        .create-btn {
            border-radius: 8px;
            margin-top: 2rem;
            margin-bottom: 0.4rem;
            background-image: linear-gradient(to bottom, #0e6cb6, #1765a2);
        }
        .terms {
            text-align: center;
            color: #2e384d;
            font-size: 0.8rem;
        }
        input
        {
            background-color: #fff;
        }

        input:focus-visible
        {
            outline: #0e6cb6 !important;
            border-color: #0e6cb6 !important;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #ADD8E6;
            opacity: 5; /* Firefox */
          }
          
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #0e6cb6;
            opacity: 1;
          }
          
          ::-ms-input-placeholder { /* Microsoft Edge */
            color: #0e6cb6;
            opacity: 1;
          }

          .color-blue
          {
            color: #0645AD;
          }

    }
}
